@import '../../styles/variables.scss';

.edit-record-button {
    width: 100%;
    padding: 10px;
    background-color: $font-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;

    &:hover {
        background-color: darken($font-color, 10%);
    }
}

.add-new-item-cell {
    display: flex!important;
    align-items: center;
    justify-content: center;

    .add-new-item {
        color: $font-color;
        background-color: transparent;
        border: 0;

        svg {
            font-size: 30px;
            cursor: pointer;
        }
    }
}